/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    border: 0;
    margin: 0;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1a36;
    font-family: 'Poppins', sans-serif;
}
.card{
     border-radius: 20px;
     background-color: #231e39;
     -webkit-box-shadow: 0 0 10px #00000096;
     box-shadow: 0 0 10px #00000080;
     border: 2px solid rgba(0, 0, 0, 0.466);
     transform: scale(0.99);
     width: 350px;
}
.card:hover{
    transform: scale(1);
    transition: transform 0.1s linear;
}
.card-header{
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    position: relative;
    display: flex;
   justify-content: center;
   padding-bottom: 15px;
} 
.top-text{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    left: 70%;
}
.image > img{
    border-radius: 50%;
    padding: 10px;
    border: 4px solid #30bfca;
}
.name{
    margin: 10px 0;
}
.name ,.address, .info{
    color: #30bfca;
    font-weight: inherit;
}
.info{
    width: 60%;
    text-align: center;
    margin-top: 10px;
}
.button{
    margin-top: 20px;
}
.button a {
    text-decoration: none;
    color: black;
    font-weight: initial;
    padding: 5px 10px;
    background-color: #30bfca;
    border-radius: 5px;
    margin: 5px 10px;
    font-size: 0.9rem;

}
.button a:hover{
    background-color: black;
    color: #30bfca;
    transition: background-color 0.2s linear, color 0.2s linear;
}
.card-footer{
    margin-top: 10px;
    background-color: #1f1a36;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.skills-header{
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: inherit;
    padding-bottom: 10px;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.skills-container span{
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 4px 8px;
    margin: 3px ;
    font-weight: inherit;
    font-size: 0.8rem;
}
.skills-container span:hover{
    background-color: rgba(255, 255, 240, 0.192);
    transform: scale(1.05);
    transition: 0.22s;
}